{
  // "settings": {
  //   "jest": {
  //     "version": "latest"
  //   }
  // },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jsx-a11y/recommended",
    //   "plugin:jest/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-import-helpers",
    "react",
    "jsx-a11y",
    "prettier",
    "unused-imports",
    "simple-import-sort"
  ],
  "rules": {
    "no-else-return": "off",
    "react/prop-types": "off",
    // We do not use prop-types (TS instead)
    "react/require-default-props": "off",
    // We don"t use defaultProps (TS instead)
    "import-helpers/order-imports": [
      "error",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "module",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    // this is something very common and convenient,
    "@typescript-eslint/no-misused-promises": [
      2,
      {
        "checksVoidReturn": {
          "attributes": false
        }
      }
    ]
  }
}
